body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  text-align: center;
}

header {
  background: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1em 0;

  width: 100%;
  margin-top: 2em;
}

nav a {
  color: white;
  margin: 0 1em;
  text-decoration: none;
}

main {
  padding: 2em;
}

.livros {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.livro {
  /* border: 1px solid #ccc; */
  padding: 1em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: auto;
}

label {
  margin-bottom: 2px;
  margin-top: 20px;
}

input,
textarea {
  margin-bottom: 1px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-contato button {
  margin-top: 11px;
}

.form-contato ul{
  list-style: none;
  padding: 0;
    left: -30px;
    position: relative;
}

.btn,
button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  /* background-color: #0056b3; */
}

.btn-container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.mapa {
  /* display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center; */
  margin-top: 50px;

}

.form-contato {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contato form {
  display: flex;
  flex-direction: column;
  /* max-width: 100%; */
  width: 47%;
  margin: auto;
}

.mapa ul {
  list-style: none;
}

.filtro {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  justify-items: center;
}

.filtro h3 {
  margin-right: 20px;
  flex: 1;
}

.filtro form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: right;
  align-items: center;
  flex: 1;
}

@media only screen and (max-width: 780px) {
  .mapa {

    grid-template-columns: 100%;
    row-gap: 50px;
    text-align: center;
  }
}

.btn-carrinho {
  display: flex;
  width: 50%;
  margin: 25px auto 0 auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#form-pesquisa {
  padding: 15px 0;
  display: inline-block;
  width: 50%;
}

#form-pesquisa input {
  padding: 12px 3px;
  font-size: 16px;
  width: 80%;
  border-radius: 0;
  margin-right: 6px;
}

#form-pesquisa button {
  border: 1px solid #fff;
  border-radius: 0;
}



#form-pesquisa label {
  display: flex;
}

button {
  background: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.descricao-livro p {
  padding: 25px 0;
}

.btn {
  background: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 0;
}

.btn a {
  text-decoration: none;
  color: #fff !important;
}