* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 2em;
}

main h2 {
    text-align: center;
    padding: 25px;
}

.login {

    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.login form {
    display: flex;
    width: 40%;
    margin: 0 auto;
    flex-direction: column;
    gap: 10px;

}

.login form input {
    font-size: 20px;
}



.btn,
button {
    background: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn a {
    text-decoration: none;
    color: #fff !important;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.dashboard-form {

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.dashboard-form form {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 10px;
}

.dashboard-form form .col-2 div {
    width: 100%;

}

.col-2 {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.dashboard-form form input {
    width: 100%;
}

.menu-dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 50px;
}

.menu-dashboard li {
    list-style: none;
    padding: 25px;
    background-color: #333;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.menu-dashboard a {
    text-decoration: none;
    color: #fff;
}

.body-dashboard {
    width: 100%;
}

.body-dashboard table {
    width: 100%;
    text-align: center;
}

.body-dashboard table td {
    padding: 25px;
}

.body-dashboard a {
    text-decoration: none;
    /* color: #000; */
}

.body-dashboard form input,
.body-dashboard form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#valor{
    padding: 10px 10px;
    font-size: 20px;
    margin: 10px 0;
    color: #ccc;
    background-color: #333;
}

.login h1 {
            text-align: center;
        }

        .login {
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        .login form {
            display: flex;
            flex-direction: column;
            width: 40%;
            margin: 0 auto;
            gap: 10px;
        }

        .login form input {
            padding: 12px 3px;
            font-size: 16px;

        }

        .login form input[type=submit] {
            
            background: #333;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
        }