@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primeira_cor: #fcfcfc;
    /* Branco */
    --segunda_cor: #000000;
    /* Preto */
    --terceira_cor: #1e1e1e;
    /* Preto Light */
    --quarta_cor: #3c3c3c;
    /* Dark Gray */
    --quinta_cor: #5b5b5b;
    /* Light Gray */
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    font-family: "DM Serif Text", serif;
    color: var(--segunda_cor);
}

header {
    width: 100%;
    background-color: var(--primeira_cor);
    /* background-color: aqua; */
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 200px;
    height: 200px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.itens-menu {
    margin: 12px;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    padding-bottom: 2px;
    transition: all 0.1s ease-in-out;
}

.itens-menu:hover{
    border-bottom: 2px solid var(--segunda_cor);
    font-size: 12px;
}

.itens-menu a {
    text-decoration: none;
    color: var(--segunda_cor);
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.vendidos_content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
}

.item_mais_vendido{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}

.item_mais_vendido img {
    width: 100%;
    height: 200px;
}

.item_mais_vendido p{
    font-size: 16px;
    margin: 8px;
}

.item_mais_vendido button {
    width: 70%;
    height: 40px;
    background-color: var(--segunda_cor);
    color: var(--primeira_cor);
    border-radius: 24px;
    cursor: pointer;
    border: none;
    transition: all 0.1s ease-in-out;
}

.item_mais_vendido button:hover {
    background-color: var(--quarta_cor);
    color: var(--primeira_cor);
    transform: scale(0.9);
}

.rodape{
    background-color: var(--segunda_cor);
    color: var(--primeira_cor);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 64px; 
}

.coluna1 img{
    width: 200px;
}

.login{
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: var(--primeira_cor);
    cursor: pointer;
}

.login img {
    width: 24px;
    height: 24px;
    /* padding: 12px; */
}